body {
  font-family: Avenir, sans-serif;
  margin: 2rem auto;
  width: 95%;
  background-color: #347ab5;
}
h2{
  color: #cc1f27;
  font-size: 2vw;
}
#bold {
  font-weight: bold;
}

h2,
p {
  margin: 0;
}
/* de styling van de boxes */ 
.boxes > * {
  padding: 8px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 15px;
}
.boxes {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: 8px;
}
/* hier kan doormiddel van de template de layout van de grid boxes worden bepaald */
@media screen and (min-width: 640px) {
  .boxes {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
  }
}
/* hier kan een eventuele achtergrond afbeelding worden ingevoegd */ 
.boxes div {
  display: block;
  align-items: flex-end;
}
/*  door gebruikt te maken van div:nth Child kan je de aparte grid-boxes aanpassen 
    Met het gebruik van span wordt de hoogte bepaald 
    doormiddel van column wordt de breedte bepaald */
@media screen and (min-width: 40em) {
  .boxes div:nth-child(1) {
    grid-column: 1 / -1;
    grid-row: span 1;
    align-items: center;
  }
}
@media screen and (min-width: 40em) {
  .boxes div:nth-child(2) {
    grid-column: span 1;
    grid-row: span 7;
  }
}
@media screen and (min-width: 40em) {
  .boxes div:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media screen and (min-width: 40em) {
  .boxes div:nth-child(4) {
    grid-column: span 1;
    grid-row: span 7;
  }
}
@media screen and (min-width: 40em) {
  .boxes div:nth-child(5){
    grid-column: span 2;
    grid-row: span 6;
    align-items: center;
    justify-content: center;
    background-color: white;
    color:  black;
  }
}
@media screen and (min-width: 40em) {
  .boxes div:nth-child(6) {
    grid-column: 1 / -1;
    grid-row: span 1
  }
}

p {
  padding: 1em;
}
/* styling om het formulier heen */
#contactformulier {
  font-family: Avenir, sans-serif;
  width: 95%;
  font-size: 0.8em;
  padding: 1em;
}
/* hierdoor wordt de padding en border bij de width en height inberekend */
#contactformulier * {
  box-sizing: border-box;
}
/* groepeerd de keuzes in het formulier */ 
#contactformulier fieldset {
  border: none;
  padding: 0;
}

/* maakt de tekst buiten en binnen de vakken bold */
#contactformulier legend,
#contactformulier label {
  padding: 0;
  font-weight: bold;
}
/* styling radial buttons, responsive font-size */
#contactformulier label.choice {
  font-size: 0.9em;
  font-weight: normal;
}

/* maakt de borders dezelfde kleur/dikte, maakt alles passen binnen het groeperende vierkant, wat responsive font sizes en nieuwe elementen nemen de complete breedte in */
#contactformulier input[type="text"],
#contactformulier input[type="tel"],
#contactformulier input[type="email"],
#contactformulier input[type="datetime-local"],
#contactformulier select,
#contactformulier textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-family: Avenir, sans-serif;
  font-size: 0.9em;
  padding: 0.3em;
  }
/* een vast formaat voor de textarea */
#contactformulier textarea {
  height: 100px;
  resize: none;
}

/* styling van de buttons */
#reset, #submit, #home, #contact, #brochure, #route, #brochure {
  padding: 1em;
  border-radius: 0.5em;
  background: #347ab5;
  border: none;
  font-weight: bold;
  margin-top: 1em;
  color: white;
  text-decoration: none;
}
#contact, #home, #brochure {
  margin: 5px;
}
#submit:hover {
background: #cc1f27;
color: black;
cursor: pointer;
}
#route:hover {
background: #cc1f27;
color: black;
cursor: pointer;
}
#reset:hover {
background: #cc1f27;
color: black;
cursor: pointer;
}
#home:hover {
  background: #cc1f27;
  color: black;
  cursor: pointer;
}
#contact:hover {
  background: #cc1f27;
  color: black;
  cursor: pointer;
}
#brochure:hover {
  background: #cc1f27;
  color: black;
  cursor: pointer;
}
.boxes-formulier {
  width: 100%;
}
.boxes-header {
  width: 100%;
 /* background-image: url("afbeelding/bg.png"); */
  
}
.boxes-contacttext {
  width: 100%;
  height: auto;
}
.boxes-footer {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.knoppen {
  float: right;
}
.boxes-links {
margin: auto;
text-align: center;
font-family: Avenir, sans-serif;
width: 95%;
font-weight: bold;
color: #347ab5;
}

#gmap-locatie {
  border: none;
  margin: 15px;
}
#logo {
  width: auto;
  height: 100%;
}
#embleem {
  width: 10%;
  height: auto;
  float: left;
}
#footer-midden {

}

#footer-rechts{
  padding-top: 20px;
  float: right;
  font-family: Avenir, sans-serif;
  font-weight: bold;
  color: #cc1f27;
}

