body {
	background-color: #ffffff ;
	font-family: Arial ;
	overflow-y: hidden;
	padding: 0 ;
	margin: 0 ;
}
.container {
	flex-direction: row ;
	display: flex ;
	height: 100% ;
	width: 100% ;

}
div.main {
	padding: 10px 10px 10px 100px ;
	width: 1248px ;
	height: 100% ;
}

/* Nav */

header {
	justify-content: space-between ;
	background-color: #347ab5 ;
	flex-direction:row ;
	display:flex;
	height:80px;
	width:100%;
}
img.logo {
}
ul.headul {
	text-decoration: none;
	align-self:flex-end ;
	display: inline ;
}
li.list {
	text-decoration: none ;
	margin-right: 25px ;
	display: inline;
	font-size: 200%;
	transition: .5s;
}
a {
	text-decoration:none;
	color:#cc1f27
}
a:hover {
	text-decoration-color:  #cc1f27 ;
	text-decoration: underline ;
}

/* Main content */
.row {
	background-image: url("../Afbeeldingen/Background.png");
	justify-content: space-around;
	background-color: white;
	height: 1200px;
	display: flex;
	width: 100%;
}

/* Beide kolommen */
.column {
	background-color: #347ab5;
	box-shadow: 5px 15px #ccc;
	flex-direction: column;
	align-items: center;
	margin-top: 150px;
	display: flex;
	height: 500px;
	width: 500px;
}

/* Titel area */
.titel {
	background-color: #d3d3d3;
	justify-content: center;
	color:#cc1f27;
	display: flex;
	height: 100px;
	width: 500px;
}

/* Blauwe container */
.foto {
	background-color: #347ab5;
	justify-content: center;
	padding-top: 25px;
	display: flex;;
	width: 500px;
}

/* Linker container foto */
#foto1 {
	background: url("../Afbeeldingen/Opleiding1.jpg");
	background-repeat: no-repeat;
	backgroung-position:center;
	background-size: 100%;
	transition: 1s;
	height: 300px;
	width: 400px;
}

#foto1:hover {
	background-position:center;
	background-size: 65%;
	transform: scale(2);
}

/* Rechter container foto */
#foto2 {
	background: url("../Afbeeldingen/Opleiding2.png");
	background-repeat: no-repeat;
	backgroung-position:center;
	background-size: 120%;
	transition: 1s;
	height: 300px;
	width: 400px;
}

#foto2:hover {
	background-position:center;
	background-size: 65%;
	transform: scale(2);
}
